{% extends "base.html" %}
{% load static %}
{% block title %}
    天天购美国代购 - 关于我们
{% endblock %}
{% block content %}
    <style>
        .intro-left{
            padding:80 0 0 45 ;
        }
        .intro-right{
            padding-left: 50;
        }
        .yahei{
            font-family: Microsoft YaHei;
        }
    </style>
    <div class="row">
        <h1 class="text-center">关于我们<small> about us </small></h1>
        <hr>
        <div class="col-lg-3">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" src="{% static 'images/tty.jpg' %}">
          <h2>佟大一</h2>
          <p class="yahei">我是佟大一，我是妻管严，我在北京，做美国加拿大出境游代办各国签证，代购是我第二职业，那些nb哄哄的广告词都出自我手。我负责哄好郑老板娘让她开心为你们服务~代购+出境游+办签证！同时本人还是个天生运动狂，如需咨询运动品牌找我就对啦！</p>
        </div>
        <div class="col-lg-3">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" src="{% static 'images/zwt.jpg' %}">
          <h2>郑大白</h2>
          <p class="yahei">我是郑大白，我在北京，有份正经工作兼职做代购，我是你们的小客服，微信微博都是我啦，有任何需要都来找我(闲聊也可以噢！不过不要告诉我男盆友，就是佟大一）我强迫症，我完美主义，对另外三位小伙伴很啰嗦，对微信微博和货品有任何意见跟我说就好啦。另外，每次上新，转寄包裹，微信淘宝客服都是我，有没有很辛苦！</p>
        </div>
        <div class="col-lg-3">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" src="{% static 'images/zjr.jpg' %}">
          <h2>小庄姐</h2>
          <p class="yahei">我是小庄姐。我在美国俄亥俄读研，我不是爱买，是超级爱买！我不是会买，是特别会买！搜罗各种打折信息，给你们带来最实惠的商品，我的银行表示压力很大，你们的宝贝都是刷我的卡~ 我的闺蜜老板娘总不给我报销，我要起义! "我败家~我光荣~"</p>
        </div>
        <div class="col-lg-3">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" src="{% static 'images/ttq.jpg' %}">
          <h2>佟天齐</h2>
          <p class="yahei">我是佟天齐，在纽约大学读研，计算机专业，13年底我哥，也就是“佟大一”哈哈，在qq上跟我说咱们一起做代购吧。我是负责做网站的，偶尔也联系联系物流。关于网站如果你有什么想告诉我的，请不要犹豫的联系我哈。下面有我的各种联系方式。（还好我不用收集优惠信息，最讨厌逛商场了！）</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <a class="contact" data-container="body" data-toggle="popover" data-placement="top" data-content="加我吧: 878857969" data-original-title="" title="">
          【QQ】
            </a>
            <a href="http://weibo.com/u/2261288517">【微博】</a>
        </div>
        <div class="col-lg-3">
            <a class="contact" data-container="body" data-toggle="popover" data-placement="top" data-content="加我吧: 254651373" data-original-title="" title="">
          【QQ】
            </a>
            <a href="http://weibo.com/zhengwanting919">【微博】</a>
        </div>
        <div class="col-lg-3">
            <a class="contact" data-container="body" data-toggle="popover" data-placement="top" data-content="加我吧: 248847060" data-original-title="" title="">
          【QQ】
            </a>
        </div>
        <div class="col-lg-3">
            <a class="contact" data-container="body" data-toggle="popover" data-placement="top" data-content="加我吧: 423559595" data-original-title="" title="">
          【QQ】
            </a>
            <a href="http://www.renren.com/250554102/">【人人】</a>
            <a href="http://www.weibo.com/2064005887">【微博】</a>
        </div>
    </div>
        <hr>
        <div class="row">
        <div class="col-md-7 intro-left">
          <h2 class="feature-head">天天购美国代购成立<span class="text-muted">2013年11月</span></h2>
          <p class="lead">一个由兄弟姐妹组成的公司在13年底成立了，两个在美国留学，两个在中国工作，本着挣点外快补贴家用的理想，我们开始了行动....</p>
        </div>
        <div class="col-md-5 intro-right">
          <img class="featurette-image img-responsive" data-src="holder.js/500x375/auto" style="width: 500px; height: 281px;" alt="" src="{% static 'images/bao.jpg' %}">
        </div>
        </div>
        <hr>
        <div class="row">
        <div class="col-md-5 intro-right">
          <img class="featurette-image img-responsive" data-src="holder.js/500x375/auto" style="width: 500px; height: 281px;" alt="" src="{% static 'images/wl.jpg' %}">
        </div>
        <div class="col-md-7 intro-left">
          <h2 class="feature-head">全美最新最热的折扣。<span class="text-muted">专业的进货能力。</span></h2>
          <p class="lead">我们关注网络折扣，实地考察outlet折扣，过滤和整合资源信息，批量进货减免运输费用。我们有充足的购物经验。</p>
        </div>
        </div>
        <hr>
        <div class="row">
        <div class="col-md-7 intro-left">
          <h2 class="feature-head">精心挑选国际国内快递。<span class="text-muted">专业的物流。</span></h2>
          <p class="lead">我们先搜寻众多快递公司，详细对比价格，与客服详谈合作，再比较网上的测评，通过讨论过滤出较为优秀的几家，最后经过亲自实际测试决定合作伙伴。</p>
        </div>
        <div class="col-md-5 intro-right">
          <img class="featurette-image img-responsive" data-src="holder.js/500x375/auto" style="width: 500px; height: 281px;" alt="" src="{% static 'images/mk.jpg' %}">
        </div>
        </div>
        <br/>
        <br/>
{% endblock %}
{% block js %}
    <script>
        $(function ()
        { $(".contact").popover();
        });
    </script>

{% endblock %}
