{% load widget_tweaks %}
<html>
<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<style>
    body{
        background-color: #ffffff;
    }
</style>

<body style="margin: 20px;">
    <div class="container-fluid">
        <div class="row">
            {% if edit %}
                <h1 class="text-center">Product Modify<small> ID: {{ product_id }}</small></h1>
            {% else %}
                <h1 class="text-center">New Product<small>  TTc ^.^</small></h1>
            {% endif %}
            <form role="form" action="?" method="POST">
                {% csrf_token %}
                {{ ProductForm.non_field_errors }}

                <!-- name -->
                <div class="form-group {% if ProductForm.name.errors %} has-error {% endif %}">
                    <label class="control-label">{{ ProductForm.name.label }}</label>
                    {% render_field ProductForm.name class+="form-control" placeholder="name" %}
                </div>

                <!-- price -->
                <div class="form-group {% if ProductForm.price.errors %} has-error {% endif %}">
                    <label class="control-label">{{ ProductForm.price.label }}</label>
                    {% render_field ProductForm.price class+="form-control" placeholder="price" %}
                </div>

                <!-- Taobao address -->
                <div class="form-group {% if ProductForm.link.errors %} has-error {% endif %}">
                    <label class="control-label">{{ ProductForm.link.label }}</label>
                    {% render_field ProductForm.link class+="form-control" placeholder="Taobao address" %}
                </div>

                <!-- Description -->
                <div class="form-group {% if ProductForm.des.errors %} has-error {% endif %}">
                    <label class="control-label">{{ ProductForm.des.label }}</label>
                    {% render_field ProductForm.des class+="form-control" placeholder="Description" %}
                </div>
{##}
{#                <!-- brand -->#}
{#                <div class="form-group {% if ProductForm.brand.errors %} has-error {% endif %}">#}
{#                    <label class="control-label">{{ ProductForm.brand.label }}</label>#}
{#                    {% render_field ProductForm.brand class+="form-control" placeholder="brand" %}#}
{#                </div>#}
{##}
{#                <!-- type -->#}
{#                <div class="form-group {% if ProductForm.type.errors %} has-error {% endif %}">#}
{#                    <label class="control-label">{{ ProductForm.type.label }}</label>#}
{#                    {% render_field ProductForm.type class+="form-control" placeholder="type" %}#}
{#                </div>#}
{##}
{#                <!-- pic -->#}
{#                <div class="form-group {% if ProductForm.pic.errors %} has-error {% endif %}">#}
{#                    <label class="control-label">{{ ProductForm.pic.label }}</label>#}
{#                    {% render_field ProductForm.pic class+="form-control" placeholder="pic" %}#}
{#                </div>#}
                <button class="btn-default btn" type="submit">Next Step</button>
            </form>
        </div>
    </div>
</body>
</html>