<html>

<head>

    <title>{% block title %}Title{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link href="{% static "css/starter-template.css" %}" rel="stylesheet">
    <link href="{% static "semantic/elements/button.css" %}" rel="stylesheet">
</head>

<body background="{% static 'bg/bg.jpg' %}" style="background-size: 100% 100%">
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color: rgba(34, 34, 34, 0.8)">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'products' %}"><span class="glyphicon glyphicon-comment"></span>天天购</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li {% if page == 'products' %}class="active"{% endif %}><a href="{% url 'products' %}"><span class="glyphicon glyphicon-th"></span>代购商品</a></li>
{#            <li {% if page == 'orders' %}class="active"{% endif %}><a href="{% url 'orders' %}"><span class="glyphicon glyphicon-list-alt"></span>订单列表</a></li>#}
            <li {% if page == 'about' %}class="active"{% endif %}><a href="{% url 'about' %}"><span class="glyphicon glyphicon-comment"></span>关于我们</a></li>
            {% if user.pk %}
            <li class="dropdown navbar-right">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-cog"></span>管理<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#add" data-toggle="modal"><span class="glyphicon glyphicon-check"></span>新增物品</a></li>
{#                  <li><a href="#">Another action</a></li>#}
                  <li class="divider"></li>
                  <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-eject"></span>Sign out</a></li>
                </ul>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>

<div class="container-fluid">
<div class="starter-template">
    {% block content %}
        <p class="text-center">There is nothing here, right now.</p>
    {% endblock %}
</div>
    <div class="page-header">
    </div>
<p class="text-center" style="color: rgb(194, 69, 45); font: 12px/1.5 tahoma,arial,宋体b8b\4f53;"><script language="javascript" type="text/javascript" src="http://js.users.51.la/16740537.js"></script>
    <noscript><a href="http://www.51.la/?16740537" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/16740537.asp" style="border:none" /></a></noscript><span class="glyphicon glyphicon-copyright-mark"></span>2014 TianTianGou Inc  天天购美国代购 version 2.0.0 <a style="background-color: #DBE7BB" class="btn btn-default btn-xs" href="{% url 'manage' %}">管理入口</a></p>
</div>

<!-- JS -->

    <script src="{% static 'fancybox/lib/jquery-1.10.1.min.js' %}"></script>
    <script src="{% static 'fancybox/lib/jquery.mousewheel-3.0.6.pack.js' %}"></script>
    <script src="{% static 'semantic/semantic.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block js %}
    {% endblock %}


<!-- Modal -->

<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="pinLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="ItemLabel">新增或修改物品信息</h4>
          </div>
          <div class="modal-body">
              <iframe id="ttcf" src="{% url 'add' %}"width="100%" height="100%" frameborder="0"></iframe>
          </div>
          <div class="modal-footer">
            <a href="{% url 'products' %}"><button type="button" class="btn btn-primary">确认</button></a>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>
</body>

</html>