{% load widget_tweaks %}
<html>
<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<style>
    body{
        background-color: #ffffff;
    }
</style>
<body style="margin: 20px;">

<div class="container-fluid">
    <div class="row">
        <h1 class="text-center">Edit Brand and Type<small> ID: {{ product.id }}</small></h1>
        <form role="form" action="?" method="POST">
        {% csrf_token %}
            <p><label for="brand">Brand:</label>
            <select class="form-control" id='brand' name="brand_id">
                {% for brand in brands %}
                    <option {% if product.brand.id == brand.id %} selected="selected" {% endif %} value="{{ brand.id }}">{{ brand.name }}</option>
                {% endfor %}
            </select>
            <p><label for="type">Type:</label>
            <select class="form-control" id='type' name="type_id">
                {% for type in types %}
                    <option {% if product.type.id == type.id %} selected="selected" {% endif %} value="{{ type.id }}">{{ type.name }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-default" type="submit">Next</button>
        </form>
        <h1 class="text-center">Create New<small>Brand and Type</small></h1>
        <div class="col-md-10">
        <form role="form" action="{% url 'create_brand' pk %}" method="POST">
            {% csrf_token %}
            <div class="input-group">
              {% render_field BrandForm.name class+="form-control" placeholder="name" %}
              <span class="input-group-btn">
                <button class="btn btn-warning" type="submit">New Brand</button>
              </span>
            </div>
        </form>
        </div>
        <div class="col-md-10">
        <form role="form" action="{% url 'create_type' pk %}" method="POST">
            {% csrf_token %}
            <div class="input-group">
              {% render_field TypeForm.name class+="form-control" placeholder="name" %}
              <span class="input-group-btn">
                <button class="btn btn-danger" type="submit">New Type</button>
              </span>
            </div>
        </form>
        </div>
    </div>
</div>

</body>
</html>