{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    <form action="{% url 'manage' %}" method="post">{% csrf_token %}
        <input type="password" name="password">
        <button type="submit">login</button>
    </form>
{% endblock %}