{% extends "base.html" %}

{% block content %}
    <div class="row">
        <h1 class="text-center">Order<small> TTc </small></h1>

    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>产品</th>
            <th>买家</th>
            <th>购买日期</th>
            <th>预计日期</th>
            <th>价格</th>
            <th>备注</th>
        </tr>
    </table>
    </div>
{% endblock %}