{% extends "base.html" %}
{% block title %}天天购美国代购{% endblock %}
{% block content %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/wookmark_reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/wookmark_main.css' %}">
    <link rel="stylesheet" href="{% static 'css/filter.css' %}">
    <link rel="stylesheet" href="{% static 'fancybox/source/jquery.fancybox.css' %}">
    <link rel="stylesheet" href="{% static 'fancybox/source/helpers/jquery.fancybox-buttons.css' %}">
    <link rel="stylesheet" href="{% static 'fancybox/source/helpers/jquery.fancybox-thumbs.css' %}">
    <link rel="stylesheet" href="{% static 'semantic/elements/label.css' %}">
    <style>
    .fancybox-title-over-wrap {
        width: 100%;
        padding: 0;
    }

    .fancybox-title-over-wrap > div {
        padding: 10px;
    }
    .fancybox-nav {
        width: 60px;
    }

    .fancybox-nav span {
        visibility: visible;
        opacity: 0.5;
    }

    .fancybox-nav:hover span {
        opacity: 1;
    }

    .fancybox-next {
        right: -60px;
    }

    .fancybox-prev {
        left: -60px;
    }
    </style>
    <a class="fancybox" title="关注我们 tiantian_gou" rel="group" href="{% static 'images/ew.png' %}">
        <button type="button" class="btn btn-lg btn-default" style="margin-left: -51%; top: 99px; position: fixed; border: 1px solid green; color: #ffffff;background: rgba(35, 146, 35, 0.41); z-index: 1000">
        <span class="glyphicon glyphicon-qrcode"></span>微信
        </button>
    </a>
    <div class="row">
{#        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="margin: 0 167px;">#}
{#            <ol class="carousel-indicators">#}
{#              <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>#}
{#              <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>#}
{#              <li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>#}
{#            </ol>#}
{#            <div class="carousel-inner">#}
{#              <div class="item">#}
{#                <img alt="First slide" src="http://www.slidesjs.com/img/example-slide-350-1.jpg"></div>#}
{#              <div class="item">#}
{#                <img alt="Second slide" src="http://www.slidesjs.com/img/example-slide-350-2.jpg"></div>#}
{#              <div class="item active">#}
{#                <img alt="Third slide" src="http://www.slidesjs.com/img/example-slide-350-3.jpg"></div>#}
{#            </div>#}
{#            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">#}
{#              <span class="glyphicon glyphicon-chevron-left"></span>#}
{#            </a>#}
{#            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">#}
{#              <span class="glyphicon glyphicon-chevron-right"></span>#}
{#            </a>#}
{#        </div>#}
        <h1 class="text-center">天天购美国代购商品<br><small>  ←← 看好商品请先联系微信!(*^__^*)谢谢~</small></h1>
        <br/>
        <div class="row">
        <div class="ui ribbon label" style="margin: -7 119; background-color: #F8E69F; position: absolute;">品牌</div>
        <div class="alert alert-success" style="margin: 5px 100px; border-color: #A0C087; background-color: rgba(223, 240, 216, 0.43);">
        <ol id="filters">
          {% for brand in brands %}
            <li data-filter="{{ brand.name }}">{{ brand.name }}</li>
          {% endfor %}
        </ol>
        </div>
        </div>
        <div class="row">
        <div class="ui ribbon label" style="margin: -7 119; background-color: #F8E69F; position: absolute;">类别</div>
        <div class="alert" style="margin: 5px 100px; color: #763C3C; border-color: #B39F60; background-color: rgba(240, 239, 216, 0.46);">
        <ol id="filters">
          {% for type in types %}
            <li data-filter="{{ type.name }}">{{ type.name }}</li>
          {% endfor %}
        </ol>
        </div>
        </div>
        <div id="main" role="main">
          {% for product in products %}
          <ul id="tiles">
            <li data-filter-class='["{{ product.brand.name }}", "{{ product.type.name }}"]'>
              <a class="ui left corner label">
                <div class="text">New</div>
              </a>
                {% for pic in product.pic_set.all %}
                <a class="{% if forloop.counter != 1 %}hidden{% endif %} fancybox" title="{{ product.des }}" rel="{{ product.id }}" href="{{ pic.url }}">
                    <img src="{{ pic.url }}" height="{{ pic.final_height }}" width="200">
                </a>
                {% endfor %}
                <p>{{ product.name }}</p>
                <p><span class="glyphicon glyphicon-credit-card"></span>￥ <font bold size="4px" color="#FF2900">{{ product.price }}</font></p>
                <p><span class="glyphicon glyphicon-tags"></span>  {{ product.brand.name }}、{{ product.type.name }}</p>
                {% if user.pk %}
                <p><span class="glyphicon glyphicon-calendar"></span> {{ product.create_time|date:"D n月d日, Y" }}</p>
                <div><a href="#add" data-toggle="modal" data-id="{{ product.id }}" class="open-modify btn btn-warning btn-sm btn-block">修改</a></div>
                {% else %}
                <p><span class="glyphicon glyphicon-calendar"></span> {{ product.create_time|date:"n月d日" }} 发布</p>
                <div><a href="{{ product.link }}" class="btn btn-warning btn-sm btn-block">点此去淘宝</a></div>
                {% endif %}
            </li>
          </ul>
          {% endfor %}
        </div>
    </div>
{% endblock %}
{% block js %}
    {% load staticfiles %}
{#    <script type="text/javascript" src="{% static 'js/jquery-1.4.3.min.js' %}"></script>#}
    <script type="text/javascript" src="{% static 'fancybox/source/helpers/jquery.fancybox-buttons.js' %}"></script>
    <script type="text/javascript" src="{% static 'fancybox/source/helpers/jquery.fancybox-media.js' %}"></script>
    <script type="text/javascript" src="{% static 'fancybox/source/helpers/jquery.fancybox-thumbs.js' %}"></script>
	<script type="text/javascript" src="{% static 'fancybox/source/jquery.fancybox.pack.js' %}"></script>
    <script src="{% static 'js/jquery.imagesloaded.js' %}"></script>
    <script src="{% static 'js/jquery.wookmark.js' %}"></script>
    <!-- Once the page is loaded, initalize the plug-in. -->
    <script type="text/javascript">
    (function ($){
      $('#tiles').imagesLoaded(function() {
        // Prepare layout options.
        var options = {
          autoResize: true, // This will auto-update the layout when the browser window is resized.
          container: $('#main'), // Optional, used for some extra CSS styling
          offset: 2, // Optional, the distance between grid items
          itemWidth: 210, // Optional, the width of a grid item
          fillEmptySpace: true // Optional, fill the bottom of each column with widths of flexible height
        };

        // Get a reference to your grid items.
        var handler = $('#tiles li'),
            filters = $('#filters li');

        // Call the layout function.
        handler.wookmark(options);

        /**
         * When a filter is clicked, toggle it's active state and refresh.
         */
        var onClickFilter = function(event) {
          var item = $(event.currentTarget),
              activeFilters = [];
          item.toggleClass('active');

          // Collect active filter strings
          filters.filter('.active').each(function() {
            activeFilters.push($(this).data('filter'));
          });

          handler.wookmarkInstance.filter(activeFilters, 'and');
        }

        // Capture filter click events.
        filters.click(onClickFilter);
      });
    })(jQuery);
    </script>
    <script type="text/javascript">
        $(".fancybox").fancybox({
            afterShow: function() {
                $(".fancybox-title").wrapInner('<div />').show();

                $(".fancybox-wrap").hover(function() {
                    $(".fancybox-title").show();
                }, function() {
                    $(".fancybox-title").hide();
                });
            },
            openEffect  : 'elastic',
            closeEffect : 'elastic',
            nextEffect  : 'fade',
            prevEffect  : 'fade',
            margin      : [20, 60, 20, 60], // Increase left/right margin
            helpers : {
                title: {
                    type: 'over'
                }
            },
            padding: 0
        });
    </script>

    <script type="text/javascript">
            $(document).on("click", ".open-modify", function () {
             var Pid = $(this).data('id');
{#             var Pin_src = "{% url 'repin' PinId %}";#}
             var src = "{{ BASE_URL }}" + "/edit/" + Pid;
             $(".modal-body #ttcf").attr("src", src);
        });
      </script>
{% endblock %}
