{% load widget_tweaks %}
<html>
<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/dropzone.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/dropzone.js' %}"></script>
</head>
<style>
    body{
        background-color: #ffffff;
    }
</style>
<body style="margin: 20px;">
    <div class="container-fluid">
        {% if pics %}
        <h1 class="text-center">Edit Pictures<small> Product ID: {{ pk }} </small></h1>
        <div class="row">
            <div class="alert alert-warning alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <strong>Warning!</strong> Clicking on Pictures will delete.
            </div>
        <div class="panel panel-info">
            <div class="panel-heading">Delete</div>
            <div class="panel-body">
                {% for pic in pics %}
                <div class="col-xs-6 col-md-2">
                    <a href="#delete" class="thumbnail open-delete" data-toggle="modal" data-id="{{ pic.id }}">
                      <img src="{{ pic.url }}" data-src="holder.js/100%x180" alt="">
                    </a>
                </div>
                {% endfor %}
            </div>
            </div>
        </div>
        {% else %}
            <p>No pics for now. Add pics below.</p>
        {% endif %}

        <div class="row">
            <div class="panel panel-info">
            <div class="panel-heading">Add New</div>
            <div class="panel-body">
                <form action="{% url 'upload' pk  %}" class="dropzone" id='myDropzone' method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                </form>
                <button class='btn-success btn btn-block' id="submit-all">
                    Upload all above
                </button>
            </div>
            </div>
        </div>
    </div>

<script type="text/javascript">
    Dropzone.options.myDropzone = {

        // Prevents Dropzone from uploading dropped files immediately
        autoProcessQueue : false,

        init : function() {
            var submitButton = document.querySelector("#submit-all")
            myDropzone = this;

            submitButton.addEventListener("click", function() {
                myDropzone.processQueue();
                // Tell Dropzone to process all queued files.
            });

            // You might want to show the submit button only when
            // files are dropped here:
            this.on("addedfile", function() {
                // Show submit button here and/or inform user to click it.
            });

        }
    };
</script>
<script type="text/javascript">
    $(document).on("click", ".open-delete", function () {
         var pic_id = $(this).data('id');
         var src = "{{ BASE_URL }}" + "/del/" + pic_id;
         $(".modal-footer #delete_url").attr("href", src);
    });
</script>


<!-- Modal -->

<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="pinLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
              <p>Confirm.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <a id="delete_url" href="#"><button type="button" class="btn btn-primary">确认</button></a>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>


</body>
</html>